<div class="container">
  <div class="row">
    <div class="col">
    <%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
     <%= render "public/shared/error_messages", resource: @customer %>
      <h4 class="text-center mt-3 mb-3">会員情報編集</h4>
      <br>
      <%= f.label :"氏名", class:"col-sm-2 control-label" %>
      <%= f.text_field :last_name, autofocus: true, class:"col-sm-2 form-control-static name" %>
      <%= f.text_field :first_name, autofocus: true, class:"col-sm-2 ml-5 form-control-static name"%><br>

      <%= f.label :"フリガナ", class:"col-sm-2 control-label" %>
      <%= f.text_field :last_name_kana, autofocus: true, class:"col-sm-2 form-control-static name" %>
      <%= f.text_field :first_name_kana, autofocus: true, class:"col-sm-2 ml-5 form-control-static name" %><br>

       <%= f.label :"郵便番号", class:"col-sm-2 control-label" %>
      <%= f.text_field :postal_code, autofocus: true, class:"col-sm-2 ml-1 form-control-static" %><br>

      <%= f.label :"住所", class:"col-sm-2 control-label" %>
      <%= f.text_field :address, autofocus: true, class:"col-sm-7 ml-1 form-control-static" %><br>

      <%= f.label :"電話番号", class:"col-sm-2 control-label" %>
      <%= f.text_field :telephone_number, autofocus: true, class:"col-sm-2 ml-1 form-control-static" %><br>

      <%= f.label :"メールアドレス", class:"col-sm-2 control-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-sm-2 ml-1 form-control-static" %>


      <div class="row mt-2">
        <div class="col-md-5 ml-5 text-center">
          <%= f.submit :"編集内容を保存", class:"btn btn-success col-md-5" %>
        </div>
        <div class="col-md-5">
          <%= link_to "退会する", customers_quit_path, class:"btn btn-danger" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

