<div class="row">
  <div class="field form-group col">
    <%= f.label :"商品画像", class: "col-md-3 form-label" %>
    <%= f.file_field :image, accept: "image/*", class: "col-md-5" %>
  </div>
</div>
<div class="row">
<div class="field form-group col">
  <%= f.label :"商品名", class: "col-md-3 form-label" %>
  <%= f.text_field :name, class:"col-md-5" %>
</div>
</div>
<div class="row">
<div class="field form-group col">
  <%= f.label :"商品説明", class: "col-md-3 form-label" %>
  <%= f.text_area :introduction, class:"col-md-7" %>
</div>
</div>
<div class="row">
  <div class="field form-group col">
    <%= f.label :"ジャンル", class: "col-md-3 form-label" %>
    <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name, prompt: "選択してください"), class:"col-md-5"%>
  </div>
</div>
<div class="row">
  <div class="field form-group col">
    <%= f.label :"税抜価格", class: "col-md-3 form-label" %>
    <%= f.text_field :price, class:"col-md-3" %>円
  </div>
</div>
  <div class="field form-group row text-center">
    <div class="col-md-2">
    <%= f.radio_button :is_active, "販売中" %>
    <%= f.label :is_active, "販売中", class: "m-0" %>
    </div>
    <div class="col-md-3">
    <%= f.radio_button :is_active, "販売停止中" %>
    <%= f.label :is_active, "販売停止中", class: "m-0" %>
    </div>
  </div>
<div class="actions form-group text-center">
  <%= f.submit new:"新規登録", edit:"変更を保存", class: "btn btn-success col-md-4 mt-3 mb-5" %>
</div>

