<h2>商品一覧</h2>
<%= link_to new_admin_item_path do %>
  <button><i class="fas fa-plus-circle"></i></button>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜き価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= item.name %></td>
        <td><%= item.price %></td>
        <td><%= genre_id %></td>
        <td>
          <% if @item.is_active == true %>販売中
          <% elsif @item.is_actitve == false %>販売停止中
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
