<div class="container">
  <div class="row">
    <div class="col mx-auto mt-2 w-75">
      <%= form_with model: @admin, url: admin_session_path do |f| %>
        <h4 class="col-md-4 ml-3 mt-3">管理者ログイン</h4>
        <div class="field">
          <%= f.label :メールアドレス, class:"col-sm-2" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'col-sm-4 form-control-static' %>
        </div>

        <div class="field">
          <%= f.label :パスワード, class:"col-sm-2" %>
          <%= f.password_field :password, autocomplete: "current-password", class: 'col-sm-4 form-control-static' %>
        </div>

        <div class="actions text-center">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>