<div class="container">
  <div class="row">
    <div class="col-md-1">
    </div>

    <div class="col-md-10">
      <h1>ようこそ、ながのCAKEへ！</h1>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧はできますが、</p>
      <p>購入には会員登録が必要になります。</p>

      <h4>新着商品</h4>
      <div class="container">
       <div class="row justify-content-center">
        <% @items.each do |item| %>
           <div class="col-3">
             <%= image_tag item.get_image(200,160), class:"rounded img-fluid" %>
             <div class="row d-block">
               <div class="col">
                <%= item.name %>
               </div>
               <div class="col">
                ￥<%= item.price %>
                </div>
               <div class="col">
                <%= link_to item_path(item), class:"top_to_show btn" do %>
                  <i class="fas fa-shopping-cart"></i>
                  もっと見る
                <% end %>
               </div>
             </div>
           </div>
        <% end %>
      </div>
      </div>
      <div class="row text-right mt-3 mb-3">
        <div class="col">
          <%= link_to items_path, class:"btn top_to_index" do %>
            すべて見る …
            <i class="fas fa-plane"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-1">
    </div>

  </div>
</div>
