<div class="container">
  <div class="row">
   <div><%= flash[:out_notice] %></div>
    <div class="col-12 mt-3">
      <div class="main-visual">
        <div class="main-visual-content">
          <h1>ようこそ、</h1>
          <h1>ながのCAKEへ！</h1>
          <p>このサイトは、ケーキ販売のECサイトになります。</p>
          <p>会員でない方も商品の閲覧はできますが、</p>
          <p>購入には会員登録が必要になります。</p>
        </div >
      </div>
      <div class="new-items-title">新着商品</div>
      <p class="new-items-body">その他、定番商品も数多くご用意しています</p>
      <div class="container">
        <div class="row text-center">
          <% @items.each do |item| %>
            <%= link_to item_path(item), class:"new-item-lists" do %>
              <div class="new-items-content col mt-2 ml-1">
                  <%= image_tag item.get_image(240,240), class:"new-items-img" %>
                <div class="new-items-content-body">
                  <div class="new-items-name"><%= item.name %></div>
                  <div class="new-items-price">
                    <span>￥</span><strong><%= item.price %></strong>
                  </div>
                </div>
                <div>
                  <%= link_to item_path(item), class:"top_to_show btn" do %>
                    <i class="fas fa-shopping-cart"></i>
                    もっと見る
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row text-right mt-3 mb-3">
        <div class="col text-right">
          <%= link_to items_path, class:"btn top_to_index" do %>
            すべて見る …
            <i class="fas fa-plane"></i>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>
