<div class="container px-5 px-sm-0">
  <div class="row my-4">
    <div class="col-2"></div>
    <div class="col-3 ad_top">
        <i class="fas fa-edit ml-3 ad_top_icon"></i>
        <span class="ad_top_title ml-2"><%= @customer.full_name %>さんの会員情報編集</span>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <h3 class="col-8 mb-4"></h3>
    <div class='col-10'>
      <%= form_with model: @customer, url: admin_customer_path do |f| %>
      <%= render "layouts/error", obj: @customer %>
        <table class="table-sm table-borderless">
          <tr class="field">
            <th>会員ID</th>
            <td><%= @customer.id %></td>
          </tr>
          <tr class="field">
            <th>氏名</th>
            <td>
              <%= f.text_field :last_name, class: "mr-5" %>
              <%= f.text_field :first_name %>
            </td>
          </tr>
          <tr class="field">
            <th>フリガナ</th>
            <td>
              <%= f.text_field :last_name_kana, class: "mr-5" %>
              <%= f.text_field :first_name_kana %>
            </td>
          </tr>
          <tr class="field">
            <th>郵便番号</th>
            <td><%= f.text_field :postal_code %></td>
          </tr>
          <tr class="field">
            <th>住所</th>
            <td><%= f.text_field :address, size: 60 %></td>
          </tr>
          <tr class="field">
            <th>電話番号</th>
            <td><%= f.text_field :telephone_number %></td>
          </tr>
          <tr class="field">
            <th>メールアドレス</th>
            <td><%= f.email_field :email %></td>
          </tr>
          <tr class="field">
            <th>会員ステータス</th>
            <td>
              <%= f.radio_button :is_deleted, "有効" %>
              <%= f.label :is_deleted, "有効", class: "m-0" %>
              <%= f.radio_button :is_deleted, "退会" %>
              <%= f.label :is_deleted, "退会", class: "m-0" %>
            </td>
          </tr>
          <tr>
            <th></th>
            <td class="text-right"><%= f.submit "変更を保存", class: "btn btn-stitch-edit mt-3" %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>