<div class="container px-5 px-sm-0">
<div class="py-2 px-3"><%= flash[:success] %></div>
  <div class="row my-5">
    <h3 class="col-8 mx-auto"><%= @customer.full_name %>さんの会員詳細</h3>
    <div class='col-8 mx-auto'>
    <table class="table table-borderless">
      <tr>
        <th>会員ID</th>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <th>氏名</th>
        <td><%= @customer.full_name %></td>
      </tr>
      <tr>
        <th>フリガナ</th>
        <td><%= @customer.full_name_kana %></td>
      </tr>
      <tr>
        <th>郵便番号</th>
        <td><%= @customer.postal_code.to_s.insert(3, "-") %></td>
      </tr>
      <tr>
        <th>住所</th>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <th>電話番号</th>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <th>会員ステータス</th>
        <% if @customer.is_deleted == "有効" %>
          <td class="text-success font-weight-bold"><%= @customer.is_deleted %></td>
        <% else %>
          <td class="text-black-50 font-weight-bold"><%= @customer.is_deleted %></td>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <td>
          <div class="w-75 d-flex justify-content-between">
          <%=link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
          <%=link_to admin_customer_orders_path(@customer), class: "btn btn-primary" do %>
            <%= @customer.full_name %>さんの注文履歴一覧を見る
          <% end %>
          </div>
        </td>
      </tr>
    </table>
    </div>
  </div>
</div>