<h2>注文履歴詳細</h2>

<table>
  <thead>
    <tr>
      <th>購入者</th>
      <th>注文日</th>
      <th>配送先</th>
      <th>支払方法</th>
      <th>注文ステータス</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= link_to admin_order_path(@order) do %>
        <%= @order.name %>
        <% end %>
      </td>
      <td><%= @order.created_at %></td>
      <td><%= @order.address %></td>
      <td><%= @order.payment_method %></td>
      <td>
        <%= @order.status_i18n %>
        <%= link_to "更新", method: :patch, class: "btn btn-success" %>
      </td>
    </tr>
  </tbody>
</table>



<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>製作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td>
        <%= link_to admin_order_path(order) do %>
        <%= order.name %>
        <% end %>
      </td>
      <td><%= order.created_at %></td>
      <td><%= order.address %></td>
      <td><%= order.payment_method %></td>
      <td><%= order.status_i18n %></td>
    </tr>
    <% end %>
  </tbody>
</table>