<div class="addresses_new_form">
<%= form_with model: address, url: addresses_path, method: :post do |f| %>
   <div class="col">
     <%= f.label :"郵便番号（ハイフンなし）", class:"col-md-9 addresses_new_label" %><br>
     <%= f.text_field :postal_code, autofocus: true, class:"col-md-7 ml-5 addresses_new_input" %>
   </div>

   <div class="col">
     <%= f.label :"住所", class:"col-sm-7 addresses_new_label" %><br>
     <%= f.text_field :address, autofocus: true, class:"col-md-10 ml-5 addresses_new_input" %>
   </div>

   <div class="col">
     <%= f.label :"宛名", class:"col-md-7 addresses_new_label" %><br>
     <%= f.text_field :name, class:"col-md-7 ml-5 addresses_new_input" %>
   </div>

   <div class="col mt-5 text-right">
     <%= f.submit '新規登録', class:"btn col-sm-4 new_addresses_save" %>
   </div>

<% end %>
</div>