<div class="container">
    <div class="row">
      <div class="col mt-5 mb-5">
        <div class="row mt-3">
          <div class="col-md-2"><i class="fas fa-truck addresses_icon"></i></div>
          <div class="col-md-8 ml-3 d-flex align-items-end"><h4 class="addresses_title">配送先登録/一覧</h4></div>
        </div>
        <div class="row">
              <div class="col-md-8 addresses_table_area p-4">
                <table class="table addresses_table">
                  <thead>
                    <tr>
                      <th>郵便番号</th>
                      <th>住所</th>
                      <th>宛名</th>
                      <th col="3"></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @addresses.each do |address| %>
                      <tr>
                        <td><%= address.postal_code %></td>
                        <td><%= address.address %></td>
                        <td><%= address.name %></td>
                        <td>
                          <%= link_to "編集", edit_address_path(address), class:"btn addresses_edit_btn" %>
                          <%= link_to "削除", address_path(address), method: :delete, class:"btn addresses_delete_btn" %>
                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>

              <div class="col-md-4">
              <%= render 'form', address: @address %>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>