<div class="container">
  <div class="row">
    <div class="col">
      <h4>配送先登録/一覧</h4>
      <%= render 'form', address: @address %>
      
      <table class="table">
        <thead>
          <tr>
            <th>郵便番号</th>
            <th>住所</th>
            <th>宛名</th>
            <th col="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @addresses.each do |address| %>
            <tr>
              <td><%= address.postal_code %></td>
              <td><%= address.address %></td>
              <td><%= address.name %></td>
              <td>
                <%= link_to "編集する", edit_address_path, class:"btn btn-success" %>
                <%= link_to "削除する", address_path, method: :delete, class:"btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>