<% if @cart_items.present? %>
  <div class= "container">
     <div><%= flash[:cart_notice] %></div>
    <div class= "row justify-content-start">
      <div class="col mt-5">
        <i class="fas fa-shopping-cart cart_icon"> </i>
        <span class="cart_title">ショッピングカート</span>
      </div>
    </div>
    <div class="container mb-5 p-5 cart_items">
      <div class= "row justify-content-end cart_items">
        <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, data: {confirm: 'カートを空にしてよろしいですか？'}, class: "btn cart_items_delete" %>
      </div>
      <div class= "row">
        <div class = "col">
          <table class="table cart_items_table">
            <thead>
              <tr>
                <th></th>
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
                <th></th>
              </tr>
            </thead>
  　        <% @cart_items.each do |cart_item| %>
  　          <tr>
                <td class="cart_items_top">
                  <%= image_tag cart_item.item.get_image(140,90), class:"cart_items_img " %>
                </td>
                  <td class="cart_items_name"><%= cart_item.item.name%></td>
                  <td class="cart_items_price">
                    <%= cart_item.item.with_tax_price.to_s(:delimited) %>
                  </td>
                  <td>
                    <%= form_with model:cart_item, url: cart_item_path(cart_item), method: :patch , remote: true do |f| %>
                      <%= f.select :amount, *[1..10] %>
                      <%= button_tag(type: "submit", class: "btn cart_items_amount_change") do %>
                        変更
                      <% end %>
                    <% end %>
                  </td>
                  <td>
       　            <%= cart_item.subtotal.to_s(:delimited) %>
                  </td>
                  <td>
                    <%= link_to " 削除", cart_item_path(cart_item), method: :delete, remote: true, data: {confirm: "#{cart_item.item.name}を削除してよろしいですか？"}, class: "btn cart_items_item_delete" %>
                  </td>
  　          </tr>
  　        <% end %>
          </table>
        </div>
      </div>
      <div class= "row">
        <div class="col-md-4">
        <%= link_to " 買い物を続ける", root_path, class: "btn cart_to_top" %>
        </div>
        <div class="col-md-5">
        <%= link_to " 情報入力に進む", new_order_path, class: "btn cart_to_order" %>
        </div>
        <div class="col-md-3">
          <table class="table cart_items_total_price">
            <tbody>
              <tr>
                <th class="bg-light">
                  <span>合計金額</span>
                  <td><%= @total_price.to_s(:delimited) %>円</td>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class= "row justify-content-center mt-5">
    <div class"col-10">
      <p>お客様のショッピングカートに商品はありません</p>
      <p><%= link_to "商品一覧", items_path %>から商品をお探し下さい。</p>
    </div>
  </div>
<% end %>