<div>
  <div class="container py-5">
    <div class="row">
      <div class="col">
    <%= render "public/shared/error_messages", resource: resource %>
      <div class="customer-sign_in-form">
    <%= form_with model: @customer, url: customer_registration_path, method: :post do |f| %>
     <div><%= flash[:session_alert] %></div>
    <h4 class="text-center">新規会員登録</h4>
    <br>
    <div class="form-item mb-2 col">
      <%= f.label :"名前", class: "col-3" %>
      <%= f.label :"(姓)", class: "col-1" %>
      <%= f.text_field :last_name, autofocus: true, class:"col-2 sign_in-form-style" %>
      <%= f.label :"(名)", class: "col-1" %>
      <%= f.text_field :first_name, autofocus: true, class:"col-2 sign_in-form-style" %>
    </div>
    <div class="form-item mb-2 col">
      <%= f.label :"フリガナ", class:"col-3" %>
      <%= f.label :"(セイ)" , class:"col-1"%>
      <%= f.text_field :last_name_kana, autofocus: true, class:"col-2 sign_in-form-style" %>
      <%= f.label :"(メイ)", class:"col-1" %>
      <%= f.text_field :first_name_kana, autofocus: true, class:"col-2 sign_in-form-style" %>
    </div>
    <div class="form-item mb-2 col">
      <%= f.label :"メールアドレス", class: "col-3" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-3 sign_in-form-style" %>
    </div>
    <div class="form-item mb-2 col">
      <%= f.label :"郵便番号（ハイフンなし）", class: "col-3" %>
      <%= f.text_field :postal_code, autofocus: true, class:"col-3 sign_in-form-style" %>
    </div>
    <div class="form-item mb-2 col">
      <%= f.label :"住所", class: "col-3" %>
      <%= f.text_field :address, autofocus: true, class:"col-6 sign_in-form-style" %>
    </div>
    <div class="form-item mb-2 col">
      <%= f.label :"電話番号（ハイフンなし）", class: "col-3" %>
      <%= f.text_field :telephone_number, autofocus: true, class:"col-3 sign_in-form-style" %>
    </div>
    <div class="form-item mb-2 col">
      <%= f.label :"パスワード（６文字以上）", class: "col-3" %>
      <%= f.password_field :password, autocomplete: "new-password", class:"col-3 sign_in-form-style" %>
    </div>
    <div class="form-item mb-2 col">
      <%= f.label :"パスワード（確認用）", class: "col-3" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"col-3 sign_in-form-style" %>
    </div>
    <div class="form-item mb-2 col d-flex justify-content-center">
      <%= f.submit "新規登録", class:"customer-sign_in-submit" %>
    </div>
    <% end %>

    <div class="col">
      <h7>既に登録済みの方</h7><br />
      <p><%= link_to "こちら", new_customer_session_path %>からログインしてください。</p>
    </div>

        </div>
      </div>
    </div>
  </div>
</div>
