<div class='container px-5 px-sm-0'>
  <div class='row my-5'>
    <h2>注文履歴一覧</h2>
    <table class='table table-hover table-inverse mt-4'>
      <thead class="thead-light">
        <tr>
          <th class="text-center">注文日</th>
          <th class="text-center">配送先</th>
          <th class="text-center">注文商品</th>
          <th class="text-center">支払金額</th>
          <th class="text-center">ステータス</th>
          <th class="text-center">注文詳細</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= "〒" + order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %>
            </td>
            <td>
              <% order.items.each do |item| %>
                <%= item.name %>
              <% end %>
            </td>
            <td><%= order.total_payment %>円</td>
            <td><%= order.status_i18n %></td>
            <td>
              <%= link_to order_path(order.id) do %>
                <p>表示する</p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>