<div class="container">
  <div class="row">
    <div class="col mx-auto mt-2 w-75">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h4 class="col-md-4 ml-3 mt-3">ログイン</h2>
      <h7 class="ml-5">会員の方はこちらからログイン</h7>

      <div class="field form-group col">
        <%= f.label :"メールアドレス", class:"col-sm-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col-sm-4 form-control-static" %>
      </div>

      <div class="field form-group col">
        <%= f.label :"パスワード", class:"col-sm-2" %>
        <%= f.password_field :password, autocomplete: "current-password", class:"col-sm-4 form-control-static" %>
      </div>

  　　　<div class="actions text-center">
   　　　 <%= f.submit "ログイン", class:"btn btn-success" %>
  　　　</div>
　　<% end %>
    </div>
  </div>
  <div class="row">
    <div class="col mx-auto">
      <h7>登録がお済みでない方</h7>
      <p><%= link_to "こちら", new_customer_registration_path %>から新規登録を行なってください。</p>
    </div>
  </div>
</div>
