<div class="login-bg">
  <div class="h-100 container py-5">
    <div class="h-100 row d-flex align-items-center">
      <div class="col-9 offset-2">
        <div class="customer-login-form">
          <div class="my-2">
            <h7 class="ml-5">会員の方はこちらから<strong>ログイン</strong></h7>
          </div>
          <div class="col-8 offset-2">
          <%= form_with model: @customer, url: customer_session_path, method: :post do |f| %>
            <div class="form-item my-3 col">
              <%= f.label "メールアドレス" %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"col login-form-style" %>
            </div>
            <div class="form-item mb-4 col">
                  <%= f.label "パスワード" %>
              <%= f.password_field :password, autocomplete: "current-password", class:"col login-form-style" %>
            </div>
            <div class="form-item mb-2 col d-flex justify-content-end">
              <%= f.submit "ログイン", class:"customer-login-submit" %>
            </div>
          <% end %>
          </div>
          <div class="my-2">
            <h7 class="ml-5">会員登録がお済みでない方</h7>
          </div>
          <div class="offset-3">
            <p class="col ml-4"><%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
