
<div class="container px-5 px-sm-0"  style="margin-top:75px;">
  <div class="row justify-content-center my-4">
    <div class="col-md-5 mr-5 text-center">
      <%= image_tag @item.get_image(400,400) %>
    </div>
    <div class= "col-md-6 item_show">
      <h4 class="item_name text-center mt-3"><%= @item.name %></h3>
      <br>
      <p class="item_introduction text-center"><%=safe_join(@item.introduction.split("\n"),tag(:br))%></p>
      <h4 class="item_price mt-5">
        ¥ <%= @item.price.to_s(:delimited) %>
        <span style="font-size: 12px;">(税込)</span>
      </h4>
      <%= form_with model:@cart_item, url: cart_items_path, method: :post do |f| %>

        <div class="item_cart_form text-right">
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :amount,*[1..10].to_a, include_blank: '個数選択', class:"show_select" %>
          <button type="submit", class="cart_button ml-3">
            <i class="fas fa-shopping-cart"></i> カートに入れる
          </button>
        </div>
      <% end %>
    </div>
  </div>
</div>