<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  　<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet">
  </head>

  <body>
    <header>
      <% if customer_signed_in? %>
         <%= render 'layouts/customers_header' %>
      <% elsif admin_signed_in? %>
         <%= render 'layouts/ad_header' %>
      <% else %>
        <%= render 'layouts/not_signed_in' %>
      <% end %>
    </header>
    <%= yield %>
    <footer>
      <%= render 'layouts/customers_footer' %>
    </footer>
  </body>
</html>
